.pagination {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.pagination-numbering {
    font-size: 21px;
    color: rgb(32, 93, 226);
}
.select-wrapper {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.select {
    border: 3px solid #00B4CC;    
    padding: 5px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black;
    font-size: 21px;
}
.button-wrapper {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.pagination-btn {
    width: 60px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}